body,
h2,
h3,
h4,
h5,
h6,
th,
td {
    font-family: arial, helvetica, sans-serif;
}

h1 {
    font-size: 38px;
    font-family: arial, helvetica, sans-serif;
}

svg {
    background-color: rgb(41, 41, 36);
}

p.highlight {
    color: red;
}
